configobj==5.0.6
dash==0.17.7
dash-core-components==0.12.4
dash-html-components==0.7.0
dash-renderer==0.7.4
decorator==4.1.2
dicom==0.9.9.post1
dill==0.2.7.1
enum34==1.1.6
et-xmlfile==1.0.1
Flask==0.12.2
Flask-Compress==1.4.0
Flask-SeaSurf==0.2.2
functools32==3.2.3.post2
future==0.16.0
futures==3.1.1
httplib2==0.10.3
idna==2.5
ipaddress==1.0.18
ipython-genutils==0.2.0
itsdangerous==0.24
jdcal==1.3
Jinja2==2.9.6
jmespath==0.9.3
jsonschema==2.6.0
jupyter-core==4.3.0
lxml==3.8.0
MarkupSafe==1.0
matplotlib==2.0.2
nbformat==4.4.0
numpy==1.13.1
oauth2client==3.0.0
openpyxl==2.4.9
pandas==0.20.3
plotly==2.0.15
ply==3.8
protobuf==3.4.0
psutil==5.4.0
pyasn1==0.3.7
pyasn1-modules==0.1.5
pycparser==2.18
pydicom==0.9.9
pyOpenSSL==17.2.0
pyparsing==2.2.0
pypiwin32==219
pyreadline==2.1
python-dateutil==2.6.1
pytz==2017.2
pyxnat==1.0.0.0
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.11
six==1.10.0
traitlets==4.3.2
urllib3==1.22
websocket-client==0.44.0
Werkzeug==0.12.2
wxPython==4.0.0b1
xlrd==1.0.0
