QMainWindow{
	background-color: white;
}

QLabel{
	min-width: 110px;
}

/*Use the # and the name of the variable to access to a specific the Control*/
#_status{
    color:red;
    background-color:white;
}